.footer_container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    font-family: 'montserrat', sans-serif;
}

.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    height: max-content;
}

.footer_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    color: grey;
}

.container{
    display: flex;
    flex-direction: column;
    height: max-content;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.top > p {
    color: white;
    font-size: 15px;
    margin-right: 10px;
    text-transform: uppercase;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    gap: 5px;
}

.bottom > a {
    color: grey;
    text-decoration: none;
}

.bottom > a:hover {
    color: white;
}