.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
}

.header_container > img{
    width: 50px;
    height: 72px;
}

.navigation_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.tailing_component{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
}